@font-face {font-family: "iconfont";
        src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    }


.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dayin:before { content: "\e603"; }

.icon-gengduo1:before { content: "\e619"; }

.icon-iconfontbaobiao:before { content: "\e60b"; color: #4CB6F0;}

.icon-gengduo:before { content: "\e64a"; }

.icon-jiantou:before { content: "\e61b"; }

.icon-zhuye:before { content: "\e604"; }

.icon-shenhe:before { content: "\e610"; }

.icon-baogao:before { content: "\e69a"; color: #FF701A;}

.icon-jibenxinxi:before { content: "\e617"; }

.icon-jiandujiancha:before { content: "\e658"; }

.icon-gengduo2:before { content: "\e6d7"; }

.icon-qiandao:before { content: "\e6a8"; }

.icon-zhuye1:before { content: "\e611"; }

.icon-faqi:before { content: "\e631"; }

.icon-wode:before { content: "\e6c7"; }

.icon-zengjia:before { content: "\e608"; }

.icon-wode1:before { content: "\e6f4";color: #FFFFFF; }

.icon-gengduo3:before { content: "\e879"; }

.icon-weihu:before { content: "\e618"; }

.icon-paidan:before { content: "\e669"; }

.icon-mima:before { content: "\e637";}

.icon-asterisk:before { content: "\e692"; }

.icon-baogao-copy:before { content: "\e647"; }

.icon-gengduo4:before { content: "\e6a6"; }

.icon-danganguanli:before { content: "\e605";color: #FF701A; }

.icon-shanchuyitiao:before { content: "\e63a"; }

.icon-jiantou-copy-copy:before { content: "\e66e"; }

.icon-xinghao:before { content: "\e68e"; }

.icon-guanli1:before { content: "\e6f3"; }

.icon-shezhi:before { content: "\e7a0"; }

.icon-asterisk1:before { content: "\e60a"; }

.icon-dangan:before { content: "\e64e"; color: #FF701A;}

.icon-meiyougengduoliao:before { content: "\e61c"; }

.icon-yinhuanshangbao:before { content: "\e600";color: #FF701A; }

.icon-wushuju:before { content: "\e60e"; }

.icon-shanchu:before { content: "\e672"; }

.icon-mima1:before { content: "\e623"; }

.icon-xiugai:before { content: "\e70e"; }

.icon-baobiao:before { content: "\e614"; }

.icon-jiantou1:before { content: "\e615"; }

.icon-huidan:before { content: "\e60f";color: #FDB500; }

.icon-xinzeng:before { content: "\e6bb";font-size: 28px;line-height: 44px;color: #FF701A; }

.icon-zengjiabeibaoxianrenyuan:before { content: "\e7ca"; }

.icon-asterisk2:before { content: "\e601"; }

.icon-xinghao1:before { content: "\e609"; }

.icon-icon7:before { content: "\e616"; }

.icon-ceshi:before { content: "\e66c";color: #FF701A; }

.icon-mima2:before { content: "\e61a"; }

.icon-cloud-cut-over:before { content: "\e65e"; }

.icon-pingjia:before { content: "\e60d"; }

.icon-dianziqiandan:before { content: "\e61d"; }

.icon-chuyidong:before { content: "\e606"; }

.icon-jibenxinxi1:before { content: "\e612";color: #FF701A; }

.icon-required:before { content: "\e697"; }

.icon-yemianshezhi:before { content: "\e66f"; }

.icon-yinhuanguanli:before { content: "\e67e"; }

.icon-yinhuantongji:before { content: "\e680"; }

.icon-dayins:before { content: "\e61e"; }

.icon-icon:before { content: "\e68d"; }

.icon-gongjulan_zhangai:before { content: "\e6fc"; }

.icon-jiandushishijiancha:before { content: "\e678"; }

.icon-xietiaobangong:before { content: "\e613"; }

.icon-yinhuanfenxi:before { content: "\e607"; }

.icon-guanli:before { content: "\e60c"; }

.icon-chuli:before { content: "\e602"; }
.must-flag:before{
	margin: 2px;
	color: red;
	content: "*"; 
}
.icon-chengben:before { content: "\e619"; }

.icon-chengben1:before { content: "\e693"; }

.icon-jian:before { content: "\e608"; }

.icon-yanshou:before { content: "\e711"; }

.icon-fengkongguanli:before { content: "\e704"; }

.icon-gengduo4:before { content: "\e6a6"; }

.icon-changyonggongnengshoucang:before { content: "\e621"; }

.icon-information:before { content: "\e622"; }

.icon-yanshou1:before { content: "\e61f"; }

.icon-changyonggongneng-moren:before { content: "\e670"; }

.icon-icon-cost:before { content: "\e620"; }

.icon-mobanyanshou:before { content: "\e641"; }

.icon-chengchajietou:before { content: "\e66d"; }

.icon-zuoyeyanshou:before { content: "\e9db"; }

.icon-changyonggongneng:before { content: "\e624"; }

.icon-xietiaobangong:before { content: "\e613"; }

.icon-dianlanjietou:before { content: "\e771"; }

.icon-weixiu:before { content: "\e625"; }

.icon-weixiu1:before { content: "\e626"; }

.icon-tianjiaadd142:before { content: "\e629"; }

.icon-icon02:before { content: "\e628"; }

.icon-icon1:before { content: "\e627"; }

.icon-moban1:before { content: "\e6a7"; }

.icon-dianzibaobiaoxitong:before { content: "\e66b"; }

.icon-jifen3:before { content: "\e62d"; }

.icon-moban:before { content: "\e66a"; }

.icon-jifen2:before { content: "\e62c"; }

.icon-jifen2:before { content: "\e62c"; }

.icon-jifen1:before { content: "\e62b"; }

.icon-jifen:before { content: "\e62a"; }

.icon-jinlingyingcaiwangtubiao27:before { content: "\e7a4"; }
.mui-readonly{
	background: #fafafa;
}

.icon-baogaoguanli:before { content: "\e633"; }

.icon-zhangaiyizhang:before { content: "\e758"; }

.icon-p-:before { content: "\e632"; }

.icon-baogao2:before { content: "\e630"; }

.icon-baogao1:before { content: "\e75b"; }

.icon-icon-test:before { content: "\e62f"; }

.icon-danyuan:before { content: "\e62e"; }

.icon-pingjia1:before { content: "\e6e5"; }

.icon-zhuanti1:before { content: "\e635"; }

.icon-danyuan1:before { content: "\e64b"; }

.icon-zhuanti:before { content: "\e636"; }

.icon-danyuangetianbao:before { content: "\e634"; }

.icon-new:before { content: "\e639"; }

.icon-xin:before { content: "\e638"; }

.icon-new1:before { content: "\e6d8"; }

.icon-NEW1:before { content: "\e656"; }

.icon-jifen6:before { content: "\e63e"; }

.icon-jifen5:before { content: "\e63d"; }

.icon-handle_1:before { content: "\e73a"; }

.icon-shenhe1:before { content: "\e70c"; }

.icon-richanggongdan_shenhe:before { content: "\e640"; }

.icon-rizhi1:before { content: "\e63f"; }

.icon-jiantou2:before { content: "\e943"; }

.icon-arrow-down:before { content: "\e642"; }

.icon-arrow-up:before { content: "\e644"; }

.icon-shouliweihu:before { content: "\e6ed"; }

.icon-weihu1:before { content: "\e6ae"; }

.icon-baogaoweihuguanli:before { content: "\e64d"; }

.icon-weihuzhong:before { content: "\e6e8"; }

.icon-weihujilu:before { content: "\e64c"; }

.icon-zixunweihu:before { content: "\e649"; }

.icon-dingdanweihu:before { content: "\e648"; }

.icon-icon_bianmaweihu:before { content: "\e646"; }

.icon-chanpinweihu:before { content: "\e745"; }

.icon-yemianweihu:before { content: "\e709"; }

.icon-weihurizhi:before { content: "\e645"; }















































