<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/iconfont.css" rel="stylesheet" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.picker.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<style type="text/css">
			.img-show {
				margin: 5px;
				width: 86px;
				height: 86px;
				padding: 2px;
				border: 1px dashed #C0C0C0;
				line-height: 86px;
				display: inline-block;
				vertical-align: middle;
			}
			
			.icon-zengjia:before {
				font-size: 36px;
			}
			
			.img-show img {
				width: 80px;
				height: 80px;
				display: inline-block;
				margin: 0px;
				padding: 0px;
			}
		</style>
	</head>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<!--<a id="getLayoutParams" class="iconfont icon-wode1 mui-icon-right-nav mui-pull-right mui-openwindow" style="line-height: 44px;"></a>-->
		<h1 class="mui-title">编辑第<span id='gridId'>1</span>个表格数据</h1>
	</header>
	<div class="mui-content">
		<ul class="mui-table-view" id="clist">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>叶片重量<span class="must-flag"></span>：</label>
					<input id="spadData" class="gridData" placeholder="叶片重量" type="text" validate-rule="required" />
				</div>
				<div style="margin: 20px 0;">
					<button id="cancel" type="button" class="mui-btn mui-btn-red mui-btn-block" style="width: 30%;float: left;margin-left: 15%;">取消</button>
					<button id="submit" type="button" class="mui-btn mui-btn-red mui-btn-block" style="width: 30%;float: right;margin-right: 15%;">下一格</button>
				</div>
			</from>
		</ul>
	</div>

	<body>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/validation.js"></script>
		<script type="text/javascript" src="../../js/datasubmit.js"></script>
		<script>
			(function($, doc) {
				$.init();
				app.initOpenWindow();
				var gridNumS = 1;var gridsNum = null;
				var detailPage = null;
				var result = null;
				var spadData = null;
				var getvariety, getmanure, getmanureWay;
				var imgPathArr = [];
				$.plusReady(function() {
					gridsNum = localStorage.getItem('$gridsNum');
					console.log("---"+localStorage.getItem('$gridsNum'));
					localStorage.removeItem('$gridsNum');
					if(!detailPage) {
						detailPage = plus.webview.currentWebview().opener();
					}
					document.getElementById('submit').addEventListener('tap', function() {
						//首先校验是否有数据
						result = app.validateModel2();
						console.log("校验结果:" + result);
						if(result != true) {
							return false;
						}
						//校验通过后，触发父页面事件
						gridNumS++;
						if(gridNumS>(parseInt(gridsNum)+1)){
							document.getElementById('gridId').innerText = "";
							mui.alert("全部编辑完成","编辑表格");
							return false;
						}
						var gridDatas = document.body.getElementsByClassName('gridData');
						var leafWeightTemp = gridDatas[0].value.toString();
						mui.fire(detailPage, 'editLeafWeight', {
							gridNumS: gridNumS-1,
							leafWeightTemp: leafWeightTemp
						});
						document.getElementById('gridId').innerText = gridNumS;
						//手动重置表单
						for(var i = 0; i < gridDatas.length; i++){
							gridDatas[i].value = null;
						}
					});
					document.getElementById("cancel").addEventListener("tap", function() {
						console.log("关闭页面");
						mui.back();
					});
				});
			}(mui, document));
		</script>
	</body>

</html>